<title>Delete a bookmark</title>
<h1>Add the bookmark title here:</h1>
<form action="/bookmarks" method="delete">
  <input type="text" name="title">Title</input>
  <input type="submit" value="Delete"></input>
</form>